[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
gunicorn = "*"
django = "*"
whitenoise = "*"
requests = "*"
google-cloud-datastore = "*"
"pysha3" = "*"
django-tz-detect = "*"
celery = "*"
redis = "*"
"psycopg2-binary" = "*"

[requires]
python_version = "3.5"
