[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
gunicorn = "*"
django = ">=2.1.2"
whitenoise = "*"
requests = "*"
"pysha3" = "*"
django-tz-detect = "*"
celery = "*"
redis = "*"
"psycopg2-binary" = "*"
django-debug-toolbar = "*"
libsass = "*"
django-compressor = "*"
django-sass-processor = "*"
django-redis = "*"

[requires]
python_version = "3.5"
