{% extends "explorer/base.html" %}
{% block title %}Handshake Explorer: Home{% endblock %}
{% block content %}
<div class="page-header" id="banner">
  <div class="box">
    <div class="box-header">
      <div class="box-header-title">About</div>
    </div>
    <div class="box-body">
      <p>This website acts as a block explorer for the <a target="_blank" href="https://handshake.org/">Handshake</a> protocol. If you have any questions or feature requests, please reach out on Twitter here: <a target="_blank" href="https://twitter.com/xur17">https://twitter.com/xur17</a>.</p>
      <h4>Contributing</h4>
      <p>This project is open source under the MIT license, and can be found at <a target="_blank" href="https://github.com/tdickman/handshake-explorer">https://github.com/tdickman/handshake-explorer</a>.</p>
    </div>
  </div>
</div>
<br/>
{% endblock %}
