{% extends "explorer/base.html" %}
{% block title %}Handshake Explorer: Home{% endblock %}
{% block content %}
<div class="page-header" id="banner">
  <div class="box">
    <div class="box-header">
      <div class="box-header-title">About</div>
    </div>
    <div class="box-body">
      <p>This website acts as a block explorer for the <a href="https://handshake.org/">Handshake</a> protocol. If you have any questions or feature requests, please reach out on Twitter here: <a target="_blank" href="https://twitter.com/xur17">https://twitter.com/xur17</a>.</p>
    </div>
  </div>
</div>
<br/>
{% endblock %}
