{% extends "explorer/base.html" %}
{% block title %}Handshake Explorer: Home{% endblock %}
{% block content %}
<div class="page-header" id="banner">
  <div class="box">
    <div class="box-header">
      <div class="box-header-right"><a href="/blocks">See All</a></div>
      <div class="box-header-title">Latest Blocks</div>
    </div>
    <div class="box-body">
      {% include "explorer/_block-table.html" with blocks=blocks %}
    </div>
  </div>
  <div class="box">
    <div class="box-header">
      <div class="box-header-right"><a href="/events">See All</a></div>
      <div class="box-header-title">Latest Events</div>
    </div>
    <div class="box-body">
      {% include "explorer/_events-table.html" %}
  </div>
</div>
<br/>
{% endblock %}
