{% extends "explorer/base.html" %}
{% block title %}Handshake Explorer: Name {{ name }}{% endblock %}
{% block content %}
<div class="box">
  <div class="box-header">
    <div class="box-header-title">Summary</div>
  </div>
  <div class="box-body">
    <table class="table">
      <tbody>
        <tr>
          <td class="label">TLD</td>
          <td>.{{ name }}</td>
        </tr>
        <tr>
          <td class="label">Time Remaining in State</td>
          <td>{% if time_remaining_minutes %}{{ time_remaining_minutes }} minutes{% endif %}</td>
        </tr>
        <tr>
          <td class="label">Current State</td>
          <td>{{ state }}</td>
        </tr>
        {% if type == 'auction' %}
        <tr>
          <td class="label">Open State</td>
          <td>{{ status.open_completed }} / {{ status.open_total }} blocks</td>
        </tr>
        <tr>
          <td class="label">Bidding State</td>
          <td>{{ status.bidding_completed }} / {{ status.bidding_total }} blocks</td>
        </tr>
        <tr>
          <td class="label">Reveal State</td>
          <td>{{ status.reveal_completed }} / {{ status.reveal_total }} blocks</td>
        </tr>
        {% endif %}
        {% if type == 'claim' %}
        <tr>
          <td class="label">Claim State</td>
          <td>{{ status.claiming_completed }} / {{ status.claiming_total }} blocks</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
<div class="box">
  <div class="box-header">
    <div class="box-header-title">Events</div>
  </div>
  <div class="box-body">
    {% include "explorer/_events-single-table.html" %}
  </div>
</div>
{% endblock %}
