{% extends "explorer/base.html" %}
{% block title %}Handshake Explorer: Name {{ name }}{% endblock %}
{% block content %}
<div class="row">
  <h1> .{{ name }} TLD</h1>
</div>
<div class="row">
  <ul>
    <li>Open state ({{ auction_state.open_completed }} / {{ auction_state.open_total }})
    <li>Bidding state ({{ auction_state.bidding_completed }} / {{ auction_state.bidding_total }})
    <li>Reveal state ({{ auction_state.reveal_completed }} / {{ auction_state.reveal_total }})
</div>
<div class="row">
  <h2>Events</h2>
  {% include "explorer/_events-single-table.html" %}
</div>
{% endblock %}
