{% extends "explorer/base.html" %}
{% block title %}Handshake Explorer: Names{% endblock %}
{% block content %}
<div class="box">
  <div class="box-header">
    <div class="box-header-title">Names</div>
  </div>
  <div class="box-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">State</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in names %}
        <tr>
          <td><a href="/name/{{ entry.name__name }}">{{ entry.name__name }}</a></td>
          <td>{{ entry.state }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
