body {
  padding-top: 120px;
}

h1 {
  padding: 2rem 0;
}

h2 {
  padding: 2rem 0 1.3rem;
}

.row .tx-card {
  margin-bottom: 2rem;
}

.tx-arrow {
  width: 16px;
}

.right {
  float: right;
  text-align: right;
}

.full {
  width: 100%;
}

.light {
  color: grey;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}
